*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}

.body-index{
	font-family: 'Nunito', cursive;
	
}

.header__index .nav__index{
	background:black;
}
.header__index .nav__index #menu{
	left: 290px;
}

.header__index .nav__index .nav-ul{
	justify-content: space-between;
	position:absolute;
	list-style: none;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	width:100%;
	z-index: 20000;
	margin-top:17.6em;
	transition:height .1s linear;
	display:none;
}

.header__index .nav__index .nav-display{
	display:block;
	transition:height .1s linear;
}


.header__index .nav__index .nav-ul li{
	background:black;
	color:white;
	border-bottom: 1px solid white;
	font-size: 18px;
	padding:7px;
}

.header__index .nav__index .nav-ul li:hover{
	background:grey;
	cursor:pointer;
	transition:1s;
}
.header__index .nav__index .nav-ul li a{
	text-decoration: none;
	color:white;
}
.header__index .nav__index .btn-menu{
	padding:1em;
	margin:0.6em;
	background:black;
	border-radius:3px;
	color:white;
	margin-right: 100px;
}

.header__index .nav__index .btn-menu:hover{
	cursor:pointer;
	color: white;
	opacity:0.4;
	transition:.3s;
}

.header__index .nav__index .btn-menu-cart:hover{
	cursor: pointer;
	opacity: 0.8;
	transition: .3s;
}

.header__index .nav__index .buttons{
	display:flex;
	align-items: center;
}

.header__index .nav__index .btn-menu-cart{
	padding:0.6em;
	margin:0.6em;
	background:grey;
	border-radius:3px;
	color:white;
	font-size:20px!important;
	z-index: 5000000;
}
.header__index .nav__index .logo-title{
	color: white;
	font-family: 'Satisfy', cursive;
	padding:30px;
}
.btn-menu{
	float:right;
	margin-right: 100px;
}

.btn-menu i{
	font-size:20px;
}

.logo-menu{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nonen{
	display:none;
}


/*----- Carrito ----------*/
/*------------------------*/

/*---------- Banner ------*/

.banner{
	width:100%;
	position:relative;
	overflow: hidden;
}

.banner .banner-ul{
	width:300%;
	display:flex;
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	animation: cambio 20s infinite;
	animation-timing-function:ease-in;
}

.banner .banner-ul li{
	width:100%;
}

.banner .banner-ul li img{
	width:100%;
	height:30em;
	object-fit: cover;
	background-color: rgba(0, 0, 0, 0.5);
}


	@keyframes cambio{
   0% {margin-left:0;}
   20% {margin-left:0;}
            
   25%{margin-left:-100%;}
   45%{margin-left:-100%;}
            
   50%{margin-left:-200%;}
   70%{margin-left:-200%;}
            
   75%{margin-left:-200%;}
   100%{margin-left:-200%;}
         }


.banner-content .banner-titulo-texto{
	position:absolute;
	top:10em;
	font-family: 'Fraunces', serif;
	text-align: center;
	color:white;
	width: 100%;
	letter-spacing: 12px;
}
.banner-descuento h1{
	text-align: center;
	padding:30px;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	color:white;
	margin-top:-6px;
}

 .banner-descuento .off{
	color:red;
}
.productos-destacados{
	width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background:#1b1f4e;
	padding-bottom:2em;
}
.container-principal .titulo-oferta{
    display: flex;
    justify-content: space-around;
	padding: 10px;
	border: 1px solid black;
	background-image: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,25,.55), rgba(0,0,0,.9)), url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	background-size: 120%, cover;
	margin-bottom: 0;  
}

h2{
  text-transform: uppercase;
  font: 10vw/1.5 'Volkhov', serif;
  letter-spacing: 0.2em;
  text-align: center;
  
  color: #ddd;
  text-shadow: 0 0 .08em red;
  
  animation: blinking 1.5s linear infinite;
}

@media (max-width: 600px){
  h2{
    font-size: 55px;
  }
}

@keyframes blinking{
  0%{
    text-shadow: 0 0 .115em red
  }
  4%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  8%{
    text-shadow: 0 0 .115em red
  }
  12%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  16%{
    text-shadow: 0 0 .115em red
  }
  20%{
    text-shadow: 0 0 .115em red
  }
  24%{
    text-shadow: 0 0 .115em red
  }
  28%{
    text-shadow: 0 0 .115em red
  }
  32%{
    text-shadow: 0 0 .115em transparent
  }
  34%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  45%{
    text-shadow: 0 0 .115em red
  }
  55%{
    text-shadow: 0 0 .115em red
  }
  66%{
    text-shadow: 0 0 .115em red
  }
  98%{
    text-shadow: 0 0 .115em red
  }
  99%{
    text-shadow: 0 0 .115em red
  }
  100%{
    text-shadow: 0 0 .115em red
  }
}
.container-principal .producto{
	text-align: center;
	padding:20px;
	width:47%;
	border-radius: 5px;
	margin-top:1em;
	background:white;
}

.container-principal .producto .titulo-producto{
	padding:5px;
	border-bottom:1px solid #1b1f4e;
}

.container-principal .producto .img-producto{
	width:100%;
	height:12em;
	object-fit: cover;
}

.container-principal .producto .descripcion-producto{
	font-size: 12px;
	padding:10px;
	text-align: center;
	padding-bottom: 25px;
}
.titulo-destacado{
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 2.3em;
}
.tendencia{
	background: #fff;
}
.titulo-tend{
	text-align: center;
	align-self: center;
}
.img-fluid{
	width: 47%;
}

.gallery-content{
	text-align: center;
}
.productos-ofertas {
		width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,25,.55), rgba(0,0,0,.9)), url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	padding-bottom:2em;
}

.footer .footer-ul{
	list-style: none;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	padding:10px;
	background:grey;
}

.footer .footer-ul .li-footer{
	width:50%;
	padding:5px;
	padding-left:2em;
	color:#fff;
}

.footer p{
	background:black;
	color:#fff;
	font-size: 16px;
	padding:16px;
	text-align: center;
}

.producto .agregar-carrito{
	text-decoration: none;
	color: white;
	background:#356a90;
	padding:8px;
	border-radius: 5px;
	font-size: 14px;
}
.producto .producto-dest-precio{
	margin-top:-1.5em;
	padding: 5px 5px 10px 5px;
}
.producto .producto-precio{
	display: contents;
	text-decoration: line-through;
	margin-top:-1.5em;
	padding: 5px 5px 10px 5px;
}
.producto .precio-desc{
	color: red;
}
@media screen and (min-width: 768px){
	.btn-menu{
		display:none;
	}
	.nav__index{
		position:relative;
	}
	.nav-ul{
		display:flex!important;
		flex-direction: row;
		position:absolute;
		top:-16.1em;
		left:11em;
		z-index: 500000;
		width:70%!important;
		border: none;
	}

	.nav-ul li{
		background: black!important;

	}
	.nav-ul li a{
		font-size: 15px;
		
	}
	.nav-ul li a:hover{
		opacity:0.7;
	}
	.titulo-destacados{
		justify-content: space-around!important;
		align-items: center;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 2.3em;
	}
	.productos-destacados, .productos-ofertas{
		width:100%;
	}

	.productos-destacados .producto, .productos-ofertas .producto{
		width:23%;
		padding:1em;
	}
	.footer-ul li{
		text-align: center;
	}
}

@media screen and (min-width: 1024px){
	.nav-ul{
		left:22em;
	}
	.btn-menu-cart{
		margin-right: 3em!important;
	}
	.input-buscador{
		width:50%!important;
	}

	.productos-destacados{
		width:100%;
	}

	.productos-destacados .producto{
		width:19%;
	}

	.productos-ofertas .producto{
		width:19%;
	}

	.none{
		display:none!important;
	}

	.producto{
		padding:12px!important;
	}

	.producto .producto-precio{
		padding:10px 10px 20px 10px!important;
	}

	.producto .agregar-carrito{
		padding:13px!important;
	}
	.nonen{
		display:block;
	}
}