*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}
.header__index{
  background: #74d2e7;
}
.body-index{
	font-family: 'Nunito', cursive;
	
}
/*------ Nav------*/
.nav {
  padding: 20px 0 40px 0;
  padding-right: 50px;
  padding-left: 50px;
	background: #f8f8f8;
  font-size: 16px;
  display: block;
}
.navbar-left {
	float: left;
}

.navbar-right {
	float: right;
}
ul, li {
	display: inline;
	padding-left: 20px;
}
a {
	color: #777777;
	text-decoration: none;
}
a:hover {
	color: black;
}

.container {
	margin: auto;
	width: 80%;
}

.badge {
	background-color: #6394f8;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
/*----------// nav------*/

/*----- Carrito ----------*/

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid black;
}
.shopping-cart-header {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
.shopping-cart-total {
  float: right;
}

.shopping-cart-items {
  padding-top: 20px;
}
  .shopping-cart-items li {
    margin-bottom: 18px;
  }

  .shopping-cart-items  img {
    float: left;
    margin-right: 12px;
  }

  .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }

  .shopping-cart-items .item-price {
    color: #6394f8;
    margin-right: 8px;
  }

  .shopping-cart-items .item-quantity {
    color: #abb0be;
  }

.shopping-cart:after {
bottom: 100%;
left: 89%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-bottom-color: white;
border-width: 8px;
margin-left: -8px;
}

.cart-icon {
color: #515783;
font-size: 24px;
margin-right: 7px;
float: left;
}

.button {
background: #6394f8;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
display: block;
border-radius: 3px;
font-size: 16px;
margin: 25px 0 15px 0;
}
button:hover {
  background: lighten(#6394f8, 3%);
}


.clearfix:after {
content: "";
display: table;
clear: both;
}

/*------------------------*/


/*---------- Banner ------*/

.banner-left-info-1 {
  margin-top: 7em;
}

.banner-info h3 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 0.7em;

}

.banner-info h3 span {
  color: #fff;
}

.btn.shop {
  background: #ec1c24;
  transition: all 0.25s ease;
  color: #fff;
  padding: 0.6em 2.5em;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 2px;
  font-weight: 600;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.img-fluid.imagen{
  width: 100%;
}

/*--banner-botton-*/
.banner-left-info {
	margin-top: 14em;
}

.banner-envio-info h3 {
	font-size: 2.5em;
	text-transform: uppercase;
	color: #333;
	margin-bottom: 0.7em;

}

.banner-envio-info h3 span {
	color: #fff;
}

/*--//banner-botton-*/

.banner-content .banner-titulo-texto{
	position:absolute;
	top:10em;
	font-family: 'Fraunces', serif;
	text-align: center;
	color:white;
	width: 100%;
	letter-spacing: 12px;
}
.banner-descuento h1{
	text-align: center;
	padding:30px;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	color:white;
	margin-top:-6px;
}

.banner-descuento .off{
	color:red;
}

.productos-destacados{
	width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background:#1b1f4e;
	padding-bottom:2em;
}
.container-principal .titulo-oferta{
    display: flex;
    justify-content: space-around;
	padding: 10px;
	border: 1px solid black;
	background-image: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,25,.55), rgba(0,0,0,.9)), url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	background-size: 120%, cover;
	margin-bottom: 0;  
}

h2{
  text-transform: uppercase;
  font: 10vw/1.5 'Volkhov', serif;
  letter-spacing: 0.2em;
  text-align: center;
  
  color: #ddd;
  text-shadow: 0 0 .08em red;
  
  animation: blinking 1.5s linear infinite;
}

@media (max-width: 600px){
  h2{
    font-size: 55px;
  }
}

@keyframes blinking{
  0%{
    text-shadow: 0 0 .115em red
  }
  4%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  8%{
    text-shadow: 0 0 .115em red
  }
  12%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  16%{
    text-shadow: 0 0 .115em red
  }
  20%{
    text-shadow: 0 0 .115em red
  }
  24%{
    text-shadow: 0 0 .115em red
  }
  28%{
    text-shadow: 0 0 .115em red
  }
  32%{
    text-shadow: 0 0 .115em transparent
  }
  34%{
    text-shadow: 0 0 .115em rgba(255,0,0,.1)
  }
  45%{
    text-shadow: 0 0 .115em red
  }
  55%{
    text-shadow: 0 0 .115em red
  }
  66%{
    text-shadow: 0 0 .115em red
  }
  98%{
    text-shadow: 0 0 .115em red
  }
  99%{
    text-shadow: 0 0 .115em red
  }
  100%{
    text-shadow: 0 0 .115em red
  }
}
/*------galeria productos-----*/
.container-principal .producto{
	text-align: center;
	padding:20px;
	width:47%;
	border-radius: 5px;
	margin-top:1em;
	background:white;
}

.container-principal .producto .titulo-producto{
	padding:5px;
	border-bottom:1px solid #1b1f4e;
}

.container-principal .producto .img-producto{
	width:100%;
	height:12em;
	object-fit: contain;
}

.container-principal .producto .descripcion-producto{
	font-size: 12px;
	padding:10px;
	text-align: center;
	padding-bottom: 7px;
}
.titulo-destacado{
	margin-bottom: 10px;
	font-weight: 600;
  font-size: 2.3em;
  font-family: 'Hind', sans-serif;
}
.title-estilo{
	font-size: 2.3em;
	text-transform: uppercase;
	color: #333;
	font-weight: 600;
}
.ab-content h4{
	font-size: 1em;
	margin: 2em 0 1em 0;
	color: #4c4d4e;
    text-transform: uppercase;
    font-weight: 600
}
.content-gd .img-fluid{
	width: 100%;

}
.tendencia{
	background: #fff;
}
.titulo-tend{
	text-align: center;
	align-self: center;
}
.img-fluid{
	width: 47%;
}

.gallery-content{
	text-align: center;
}
.productos-ofertas {
		width:100%;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(to top right, rgba(0,0,0,.9), rgba(0,0,25,.55), rgba(0,0,0,.9)), url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
	padding-bottom:2em;
}
/*-------// galeria-----*/
/* popup */
.popup-efecto {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.popup-efecto:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 4px;
  max-width: 430px;
  position: relative;
  margin: 8em auto;
  padding: 3em 2em;
  z-index: 999;
  text-align: center;
}

.popup .cerrar {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
ul.lista-login {
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
}


.entrada-datos button.btn {
  background: #ec1c24;
  border: none;
  color: #fff;
  padding: 15px 15px;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  border-radius: 0px;
}

.entrada-datos input {
  font-size: 16px;
  font-weight: 300;
  color: #888;
  letter-spacing: 1px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  background: rgba(0, 123, 255, 0.06);
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 0px;
}

/* //popup */
/*--/envio-grids--*/
.envio-gd {
    background: #080808;
    padding: 2em;
}

.envio.sec {
    background: #333;
}

.envio-gd:hover {
    background: #74d2e7;
    transition: all 0.25s ease;
}

.envio h3 {
    font-size: 1.2em;
    color: #fff;
    margin: 0.5em 0;
    text-transform: uppercase;
    font-weight: 600;
}

.icon-gd span {
    font-size: 2em;
    text-align: center;
    color: #ec1c24;
    margin-bottom: 0.3em;
}

/*--//envio-grids--*/
/*--/newsletter--*/
.newsletter,
.collections {
    background: #f7f7f7;
}

.newsletter form {
    margin: 0 auto;
    width: 60%;
}

.newsletter p {
    font-size: 1.2em;
    margin-bottom: 2em;
    color: #777;
    font-weight: 600;
}

.subscribe-sec input {

    padding: 0.85em 1em;
    color: #495057;
    border-radius: 0.25rem;
    font-size: 0.9em;
    border: none;
    outline: none;
    letter-spacing: 2px;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.submit {
    background:  #356a90;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    padding: 0.8em 3em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.btn.submit:hover,
.btn.shop:hover {
    opacity: 0.9;
}

/*--//newsletter--*/

.footer .footer-ul{
	list-style: none;
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	padding:10px;
	background:grey;
}

/* footer */
/* footer logo */
.footer_gridf h2 a {
    display: inline-block;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    color: #333;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}

.footer_gridf h2 a span {
    font-weight: 700;
    color: #74d2e7;
    font-size: 1.4em;
}

.sub-des2 {
    text-transform: uppercase;
	display: flex;
	justify-content: center;
    font-size: 0.7em;
    margin: 0;
    color: #999;
    letter-spacing: 7px;
    font-weight: 600;
    text-shadow: 3px 1px 3px rgba(78, 73, 73, 0.21);
}

/* //footer logo */
.cpy-right {
    background: #eff1f1;
}

/* footer navegacion */
.footer_gridf_list li {
    list-style: none;
}

.footer_gridf_list li span.fa {
    color: #ee4f4f;
    padding-right: 1em;
}

.footer_gridf_list li a {
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    display: block;
    font-weight: 600;
    margin: 1.8em 0;
}

.footer_gridf_list li a:hover {
    color: #EA4335;
}

.footer_gridf_list li:last-child {
    margin-bottom: 0;
}

h3.sub-headf {
    color: #3a3a3a;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: .7em;
    line-height: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

/* //footer navegacion */
.move-top span {
    color: #212529;
    text-align: center;
    border: none;
    line-height: 2em;
}

/* social icons */
.fsocial-grid {
    padding: 2em 0;
    border-top: 1px solid #edeff1;
    margin: 3em 0 0 0;
    text-align: center;
    border-bottom: 1px solid #edeff1;
}

.social-ficons ul {
    padding: 0;
    margin: 0;
}

.social-ficons ul li {
    display: inline-block;
    margin: 0 1em;
}

.social-ficons ul li a {
    color: #333;
    text-align: center;
    font-size: 15px;
}

.social-ficons ul li a span.fa.fa-facebook {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #3b5998;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social-ficons ul li a:hover span.fa.fa-facebook {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #3b5998;
    color: #FFFFFF;
}

.social-ficons ul li a span.fa.fa-twitter {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #1da1f2;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social-ficons ul li a:hover span.fa.fa-twitter {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #1da1f2;
    color: #FFFFFF;
}

.social-ficons ul li a span.fa.fa-google {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    margin-right: 4px;
    color: #ea4335;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.social-ficons ul li a:hover span.fa.fa-google {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: #ea4335;
    color: #FFFFFF;
}

.cpy-right a {
    color: rgb(90, 88, 88);
}
/*--//footer --*/

/*-----agregar carrito---*/
.producto .agregar-carrito{
	text-decoration: none;
	color: white;
	background:#356a90;
	padding:8px;
	border-radius: 5px;
	font-size: 14px;
}
.producto .producto-dest-precio{
	margin-top:-1.5em;
	padding: 5px 5px 10px 5px;
}
.producto .producto-precio{
	display: contents;
	text-decoration: line-through;
	margin-top:-1.5em;
	padding: 5px 5px 10px 5px;
}
.producto .precio-desc{
	color: red;
}
/*-------//agregar carrito----*/
/*-----Responsive-----*/
@media screen and (min-width: 768px){
	
	.titulo-destacados{
		justify-content: space-around!important;
		align-items: center;
		margin-bottom: 10px;
		font-weight: 600;
    font-size: 2.3em;
    font-family: 'Hind', sans-serif;
	}
	.productos-destacados .producto, .productos-ofertas .producto{
		width:23%;
		padding:1em;
	}
	.footer-ul li{
		text-align: center;
	}
}
	